/***********************************Header****************************************************/
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.lbar {
    float: left;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.829);
    margin-right: 1px;
    font-family: Arial;

}

.lbar:hover {
  text-decoration: underline;
}

.rbar {
    float: right;
    padding-left: 30px;
    padding-right: 20px;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 25px;
    color: rgba(0, 0, 0, 0.829);
    font-family: Arial;
}

.rbar:hover {
  text-decoration: underline;
}

.rb {
  padding: 16px;
}

.apps {
    width: 17px;
    height: 17px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;

}

.profpic {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 20px;    
}


.text {
  text-decoration: none;
}

/*************************************************************Content***************************************/

.logo {
    width: 1000;
    height: 1000;
    text-align: center;
}

.logoek {
    background-color: white;
    padding-top: 148px;
}

.cl {
    clear: both;
}

/***********************************SEARCH BAR*******************/


  .bar{
    margin:0 auto;
    width: 575px;;
    border-radius:30px;
    border:1px solid #dcdcdc;
  }
  
  .bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }

  .searchbar{
    height:40px;
    border:none;
    width: 480px;
    font-size:16px;
    outline: none;
    
  }

  .voice{
    height:20px;
    position:relative;
    top:5px;
    left:25px;
  }

  .searchicon {
    height:20px;
    position:relative;
    top:5px;
    right: 520px;
  }

  /*********************************BUTTONS*******************************************/

  .buttons {
    margin-top: 30px;
    margin-left: 530px;
 }
  
  .button{
    background-color: #f5f5f5;
    border: 1px solid #f2f2f2;
    color:#5f6368;
    font-size:14px;
    margin:5px;
    border-radius:4px;
    outline:none;
    height: 36px;
    width: 127px;
    font-family: Arial;
  }
  .button:hover{
    border: 1px solid #c8c8c8;
    padding: 10px 11px;
    color: black;
    font-size: 13px;
  
  }

  .button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }

  /*************************************FOOTER*****************************************/


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
   border-top: 1px solid #dbdbdb;
    
 }

 .fl {
   float: left;
   padding: 16px;
   font-family: Arial;
   color: rgba(0, 0, 0, 0.63);
   font-size: 14px;
 }

 .fr {
   float: right;
   padding: 16px;
   font-family: Arial;
   color: rgba(0, 0, 0, 0.63);
   font-size: 14px;
 }

 .fl:hover {
   text-decoration: underline;
 }

 .fr:hover {
   text-decoration: underline;
 }

   
